<div class="container">
  @if (status === 'loading') {
    <app-spinner></app-spinner>
  }

  @if (status === 'menu') {
    <h1 class="title">Pairs</h1>
    <div class="tutorial">
      <p class="label">How to play:</p>
      <p class="description">Match the correct pairs of vocabulary.</p>
    </div>
    <div class="select-options">
      <div>
        <p class="label">Game length:</p>
        <mat-select [(ngModel)]="gameLength">
          <mat-option value="10">Short (10)</mat-option>
          <mat-option selected value="20">Standard (20)</mat-option>
          <mat-option value="30">Long (30)</mat-option>
          <mat-option value="40">Very Long (40)</mat-option>
        </mat-select>
      </div>
    </div>
    <button class="play-btn" (click)="startGame()">
      <fa-icon [icon]="faPlay" size="1x"></fa-icon>
      Start
    </button>
  }

  @if (status === 'playing' || status === 'continue') {
    <h1 class="title">Pairs:</h1>
    <div class="pairs-container">
      <div class="meaning-container">
        @for (item of currentItems; track item; let i = $index) {
        <div class="meaning">
          <input type="radio" name="meaning" (change)="change(i + 1, 'meaning')"
            [disabled]="successPositionsM.includes(i + 1) || failedPositionsM.includes(i + 1)">
          <div class="visible-item" [class.success]="successPositionsM.includes(i + 1)"
            [class.failed]="failedPositionsM.includes(i + 1)">
            @for (meaning of findItemByPosition(i + 1, 'meaning')?.meaning; track meaning) {
            <p class="meaning-text">
              {{ meaning }}
            </p>
            }
          </div>
        </div>
        }
      </div>
      <div class="japanese-container">
        @for (item of currentItems; track item; let i = $index) {
        <div class="japanese">
          <input type="radio" name="japanese" (change)="change(i + 1, 'japanese')"
            [disabled]="successPositionsJ.includes(i + 1) || failedPositionsJ.includes(i + 1)">
          <div class="visible-item" [class.success]="successPositionsJ.includes(i + 1)"
            [class.failed]="failedPositionsJ.includes(i + 1)">
            <p class="japanese-text">{{ findItemByPosition(i + 1, 'japanese')?.kanji || findItemByPosition(i + 1,
              'japanese')?.word }}</p>
          </div>
        </div>
        }
      </div>
    </div>
    @if (status === 'continue') {
    <button class="continue" type="button" (click)="continue()">Continue</button>
    }
  }

  @if (status === 'finished') {
    <h1 class="title">Finished!</h1>
    <p class="score">Score: {{ score }}/{{ items.length }}</p>
    @if(submittingScore) {
      <p class="informative">Submitting score... Please wait a second...</p>
    } @else {
      <p class="informative">{{ submitMsg }}</p>
    }
    <button class="play-btn" (click)="playAgain()">Play again</button>
  }
</div>

