<div class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="submitWord()">
    <h1 class="title">Submit a new word</h1>

    <div class="form-group">
      <label for="word">Word</label>
      <input type="text" formControlName="word" class="form-control" id="word" placeholder="e.g. お疲れ"
        autocomplete="off">
      @if (form.controls['word'].dirty && form.hasError('required', 'word')) {
      <p class="error" id="word-required-error">This field is required *</p>
      }
      @if (form.controls['word'].dirty && form.hasError('pattern', 'word')) {
      <p class="error" id="word-pattern-error">
        This field must be in japanese *</p>
      }
      @if (form.controls['word'].dirty && form.hasError('maxlength', 'word')) {
      <p class="error" id="word-length-error">
        Word is too long *</p>
      }
    </div>

    <div class="form-group">
      <label for="meaning">Meaning</label>
      <div formArrayName="meaning">
        @for (meaningControl of meaningFormArray.controls; track meaningControl; let i = $index) {
        <div>
          <div class="input-btn-div">
            <input type="text" class="form-control" [formControlName]="i" [id]="'meaning' + i"
              placeholder="e.g. Good work" autocomplete="off">
            <button type="button" class="btn btn-remove" [id]="'meaning-remove' + i"
              (click)="removeArrayEl(meaningFormArray, i)" [disabled]="meaningFormArray.controls.length <= 1">
              X
            </button>
          </div>
          @if (meaningControl.invalid && meaningControl.dirty) {
          <div>
            @if (meaningControl.errors?.['required']) {
            <p class="error" [id]="'meaning-required-error' + i">Meaning is
              required *</p>
            }
            @if (meaningControl.errors?.['maxlength']) {
            <p class="error" [id]="'meaning-length-error' + i">Meaning is
              too long *</p>
            }
          </div>
          }
        </div>
        }
        <button type="button" class="btn btn-add" id="meaning-add" (click)="addArrayEl(meaningFormArray)">
          Add
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="pronunciation">Pronunciation</label>
      <div formArrayName="pronunciation">
        @for (pronunciationControl of pronunciationFormArray.controls; track pronunciationControl; let i = $index) {
        <div>
          <div class="input-btn-div">
            <input type="text" class="form-control" [formControlName]="i" [id]="'pronunciation' + i"
              placeholder="e.g. おつかれ" autocomplete="off">
            <button type="button" class="btn btn-remove" [id]="'pronunciation-remove' + i"
              (click)="removeArrayEl(pronunciationFormArray, i)"
              [disabled]="pronunciationFormArray.controls.length <= 1">
              X
            </button>
          </div>
          @if (pronunciationControl.invalid && pronunciationControl.dirty) {
          <div>
            @if (pronunciationControl.errors?.['required']) {
            <p class="error" [id]="'pronunciation-required-error' + i">Pronunciation is required *</p>
            }
            @if (pronunciationControl.errors?.['maxlength']) {
            <p class="error" [id]="'pronunciation-length-error' + i">
              Pronunciation is too long *</p>
            }
            @if (pronunciationControl.errors?.['pattern']) {
            <p class="error" [id]="'pronunciation-pattern-error' + i">
              Must be in hiragana / katakana *</p>
            }
          </div>
          }
        </div>
        }
        <button type="button" class="btn btn-add" id="pronunciation-add"
          (click)="addArrayEl(pronunciationFormArray, true)">
          Add
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="notes">Notes / extra data (optional)</label>
      <input type="text" formControlName="notes" class="form-control" id="notes" placeholder="Enter notes..."
        autocomplete="off">
    </div>

    <br />

    <div class="btns-div">
      <button class="reset-btn" id="reset" type="button" (click)="resetForm(); status = 'init'">
        <fa-icon [icon]="faTrash" size="xl"></fa-icon>
        Reset
      </button>
      <button class="submit-btn" id="submit" type="submit" (click)="markFormGroupTouched()">
        <fa-icon [icon]="faSave" size="xl"></fa-icon>
        Submit
      </button>
    </div>
  </form>

  @if (status === 'success') {
  <p class="success-general">Word submitted!</p>
  }
  @if (status === 'error') {
  <p class="error-general">{{ errorInfo }}</p>
  }
</div>
