<div class="container">
  <form [formGroup]="form" (ngSubmit)="submitWord()">
    <h1>Submit a new word</h1>

      <div class="form-group">
        <label for="word">Word</label><br/>
        <input type="text" formControlName="word" class="form-control" id="word" placeholder="e.g. お疲れ">
        <p class="error" *ngIf="form.controls['word'].dirty && form.hasError('required', 'word')" id="word-required-error">This field is required *</p>
        <p class="error" *ngIf="form.controls['word'].dirty && form.hasError('pattern', 'word')" id="word-pattern-error">This field must be in japanese *</p>
        <p class="error" *ngIf="form.controls['word'].dirty && form.hasError('maxlength', 'word')" id="word-length-error">Word is too long *</p>
      </div>

      <div class="form-group">
        <label for="meaning">Meaning</label><br/>
        <div formArrayName="meaning">
          <div *ngFor="let meaningControl of meaningFormArray.controls; let i = index;">
            <div class="input-btn-div">
              <input type="text" class="form-control" [formControlName]="i" [id]="'meaning' + i" placeholder="e.g. Good work">
              <button type="button" class="btn btn-remove" [id]="'meaning-remove' + i" (click)="removeArrayEl(meaningFormArray, i)" [disabled]="meaningFormArray.controls.length <= 1">
                X
              </button>
            </div>
            <div *ngIf="meaningControl.invalid && meaningControl.dirty">
              <p class="error" [id]="'meaning-required-error' + i" *ngIf="meaningControl.errors?.['required']">Meaning is required *</p>
              <p class="error" [id]="'meaning-length-error' + i" *ngIf="meaningControl.errors?.['maxlength']">Meaning is too long *</p>
            </div>
          </div>
          <button type="button" class="btn btn-add" id="meaning-add" (click)="addArrayEl(meaningFormArray)">
            Add
          </button>
        </div>
      </div>

      <div class="form-group">
        <label for="pronunciation">Pronunciation</label><br/>
        <div formArrayName="pronunciation">
          <div *ngFor="let pronunciationControl of pronunciationFormArray.controls; let i = index;">
            <div class="input-btn-div">
              <input type="text" class="form-control" [formControlName]="i" [id]="'pronunciation' + i" placeholder="e.g. おつかれ">
              <button type="button" class="btn btn-remove" [id]="'pronunciation-remove' + i" (click)="removeArrayEl(pronunciationFormArray, i)" [disabled]="pronunciationFormArray.controls.length <= 1">
              X
              </button>
            </div>
            <div *ngIf="pronunciationControl.invalid && pronunciationControl.dirty">
              <p class="error" [id]="'pronunciation-required-error' + i" *ngIf="pronunciationControl.errors?.['required']">Pronunciation is required *</p>
              <p class="error" [id]="'pronunciation-length-error' + i" *ngIf="pronunciationControl.errors?.['maxlength']">Pronunciation is too long *</p>
              <p class="error" [id]="'pronunciation-pattern-error' + i" *ngIf="pronunciationControl.errors?.['pattern']">Must be in hiragana / katakana *</p>
            </div>
          </div>
          <button type="button" class="btn btn-add" id="pronunciation-add" (click)="addArrayEl(pronunciationFormArray, true)">
            Add
          </button>
        </div>
      </div>

      <div class="form-group">
        <label for="notes">Notes / extra data (optional)</label><br/>
        <input type="text" formControlName="notes" class="form-control" id="notes" placeholder="Enter notes...">
      </div>

      <button type="submit" class="submit" (click)="markFormGroupTouched()">Submit</button>
      <button type="reset" class="reset" (click)="resetForm(); status = 'init'">Reset</button>
  </form>
  <br/>
  <p class="success" *ngIf="status === 'success'">Word submitted!</p>
  <a class="return-a" href="/words" *ngIf="status === 'success'">Return to words timeline</a>
  <p class="error" *ngIf="status === 'error'">{{ errorInfo }}</p>
</div>
