.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100vw;
  min-height: calc(100vh - 60px);
  max-height: 100%;
  padding: 10px;
  background-color: #202124;
  overflow-x: hidden;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 40%;
  min-width: 300px;
  max-width: 460px;
  padding: 25px;
  background-color: #212121;
}

.game-title {
  font-size: 3em;
  font-weight: 400;
}

.game-subtitle {
  font-size: 2em;
  font-weight: 400;
}

.game-info {
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-align: center;
}

.game-img {
  width: 280px;
}

.game-btn {
  font-size: 2.6em;
  color: #fff;
  text-decoration: none;
  padding: 10px 0px;
  width: 80%;
  border-radius: 5px;
  border: 2px solid #fff;
  text-align: center;
  background-color: transparent;
}

.game-btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s;
  cursor: pointer;
}

.game-btn:disabled {
  background-color: #fff;
  color: #000;
  cursor: not-allowed;
}


@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 60px;
    padding: 40px 10px;
  }

  .game {
    width: 80%;
  }
}


