<div class="container">
  <div class="game" *ngIf="loaded">
    <h1 class="game-title">Guess</h1>
    <p class="game-info">You will have to guess the kanji or word from a meaning, and vice versa.</p>
    <img class="game-img" src="assets/images/guess.webp">
    <a class="game-btn" routerLink="guess">Play now</a>
  </div>

  <div class="game" *ngIf="loaded">
    <h1 class="game-title">Pairs</h1>
    <p class="game-info">You will have to make pairs of japanese words with their meanings.</p>
    <img class="game-img" src="assets/images/pairs.webp">
    <button class="game-btn" routerLink="pairs">Play now</button>
  </div>
</div>
