.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100vw;
  min-height: calc(100vh - 60px);
  max-height: 100%;
  padding: 10px 10px 10px 0px;
  background-color: rgba(32, 33, 36, 255);
  overflow-x: hidden;
  text-align: center;
}

.container-guess {
  flex-direction: column;
  gap: 30px;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: 'Inter';
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 40%;
  min-width: 320px;
  max-width: 460px;
  padding: 25px;
  background-color: #212121;
}

.game-title {
  font-size: 3em;
  font-weight: 400;
}

.game-subtitle {
  font-size: 2em;
  font-weight: 400;
}

.game-info {
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-align: center;
}

.game-img {
  width: 300px;
}

.game-btn {
  font-size: 2.6em;
  font-family: 'Inter';
  color: #fff;
  text-decoration: none;
  padding: 10px 0px;
  width: 80%;
  border-radius: 5px;
  border: 2px solid #fff;
  text-align: center;
  background-color: transparent;
}

.game-btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s;
  cursor: pointer;
}

.game-btn:disabled {
  background-color: #fff;
  color: #000;
  cursor: not-allowed;
}

.guess-div, .pairs-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: 'Inter';
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 25px;
}

.guess-length {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.guess-length-btn, .return-btn {
  font-size: 1.6em;
  font-family: 'Inter';
  color: #fff;
  text-decoration: none;
  padding: 10px 4px;
  border-radius: 5px;
  border: 2px solid #fff;
  text-align: center;
  background-color: transparent;
}

.guess-length-btn {
  flex: 49%;
  width: 80%;
}

.guess-length-btn:hover, .return-btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s;
  cursor: pointer;
}

.return-btn {
  width: 280px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 50px;
    padding: 10px 10px 10px 0px;
  }

  .container-guess {
    flex-direction: column;
    gap: 30px;
  }

  .game {
    width: 80%;
  }
}

@media screen and (max-width: 460px) {
  .guess-length {
    flex-direction: column;
  }

  .guess-length-btn {
    flex: 100%;
    width: 290px;
  }
}

