<div class="container">
  <h2>Hiragana Chart</h2>
  <section class="section_basic">
    <div class="chart">
      <div class="chart-kanas" *ngFor="let groups of hiraganas">
        <div *ngFor="let hiragana of groups"
          [ngClass]="(hiragana.kana === '') ? 'empty' : ''"
        >
          <span>{{ hiragana.kana }}</span>
          <span>{{ hiragana.latin }}</span>
        </div>
      </div>
    </div>
  </section>

  <section class="section_dakuten">
    <div class="handakuten">
      <h3>Handakuten</h3>
      <div class="chart">
        <div class="chart-kanas">
          <div *ngFor="let hiragana of handakuten">
            <span>{{ hiragana.kana }}</span>
            <span>{{ hiragana.latin }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="dakuten">
      <h3>Dakuten</h3>
      <div class="chart">
        <div class="chart-kanas" *ngFor="let groups of dakuten">
          <div *ngFor="let hiragana of groups">
            <span>{{ hiragana.kana }}</span>
            <span>{{ hiragana.latin }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_combinations">
    <h3>Combinations</h3>
    <div class="chart">
      <div class="chart-kanas" *ngFor="let groups of combinations">
        <div *ngFor="let hiragana of groups">
          <span>{{ hiragana.kana }}</span>
          <span>{{ hiragana.latin }}</span>
        </div>
      </div>
    </div>
  </section>
</div>
