.container {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202124;
  padding-top: 40px;
}

.title {
  color: #fff;
  font-size: 4em;
  margin-bottom: 30px;
}

.tabs-container {
  width: 400px;
  min-width: 360px;
}

.chart-container h1 {
  color: #fff;
  font-size: 3em;
  margin: 20px 0px 10px 0px;
  text-align: center;
}

.chart-container canvas {
  margin-bottom: 20px;
}

.chart-container p {
  color: #fff;
  font-size: 1.5em;
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.chart-container p .bold {
  font-weight: bold;
}
