<div class="container">
  <h1 class="title">Stats</h1>
  <mat-tab-group class="tabs-container" (selectedTabChange)="render($event)">
    <mat-tab label="Overall">
      <div class="chart-container">
        <h1>Overall</h1>
        <canvas id="overall"></canvas>
        <p><span class="bold">Current Streak:</span> 4 days.</p>
        <p><span class="bold">Longest Streak:</span> 19 days.</p>
        <p><span class="bold">Total Time Training:</span> 174,9 hours.</p>
      </div>
    </mat-tab>
    <mat-tab label="Guess">
      <div class="chart-container">
        <h1>Guess</h1>
        <canvas id="guess"></canvas>
        <h1>All time accuracy:</h1>
        <canvas id="guess-overall"></canvas>
        <p><span class="bold">Total Time:</span> 15,6 hours.</p>
        <p><span class="bold">Average Time:</span> 37 seconds per guess.</p>
      </div>
    </mat-tab>
    <mat-tab label="Pairs">
      <div class="chart-container">
        <h1>Pairs</h1>
        <canvas id="pairs"></canvas>
        <h1>All time accuracy:</h1>
        <canvas id="pairs-overall"></canvas>
        <p><span class="bold">Total Time:</span> 9,3 hours.</p>
        <p><span class="bold">Average Time:</span> 22 seconds per pair.</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
