.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: calc(100vh - 60px);
  background-color: #202124;
}

.container > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  max-width: 320px;
}

.container a {
  font-size: 2.6em;
  color: #fff;
  text-decoration: none;
  padding: 10px 0px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #fff;
  text-align: center;
  letter-spacing: 4px;
}

.container a:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s;
}

@media screen and (max-height: 600px) {
  .container {
    gap: 20px;
  }
}
