.wrapper{
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  padding: 55px 10px 10px 10px;
  background-color: rgba(32,33,36,255);
  overflow-x: hidden;
  text-align: center;
}

.main-div{
  padding-top: 25px;
}

.wrapper a{
  font-size: 2.2em;
  color: white;
}

.wrapper a:hover{
  color: #00bfff;
}

.main-div{
  margin-top: 30px;
}

.main-div h1{
  margin-top: 25px;
}

.main-div h1 a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.4em;
  text-decoration: none;
  color: #202124;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 3px 8px;
  width: min-content;
  background-color: white;
}

.main-div h1 a:hover{
  color: white;
  background-color: #ea80fc;
  border: 2px solid #b64fc8;
  cursor: pointer;
}

