<div class="container">
  <app-search></app-search>
  <div class="switch-container">
    <div class="switch" id="random">
      <button type="button" (click)="randomize()">
        <fa-icon [icon]="faDiceSix" size="2x"></fa-icon>
      </button>
    </div>
    <div class="switch" id="switch">
      <button *ngIf="switch === 'all'" type="button" (click)="doSwitch('japanese')">
        <fa-icon [icon]="faWandMagicSparkles" size="2x"></fa-icon>
      </button>
      <button *ngIf="switch === 'japanese'" type="button" (click)="doSwitch('meaning')">
        <fa-icon [icon]="faA" size="2x"></fa-icon>
      </button>
      <button *ngIf="switch === 'meaning'" type="button" (click)="doSwitch('all')">
        <fa-icon [icon]="faAsterisk" size="2x"></fa-icon>
      </button>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-item" *ngFor="let item of items" (click)="openDialog(item)">
      <div *ngIf="switch === 'all'">
        <div class="value">{{ item?.kanji || item?.word }}</div>
        <div class="meaning">{{ item.meaning.join(', ') }}</div>
        <div class="pronunciation">{{ item.pronunciation.join(', ') }}</div>
      </div>
      <div *ngIf="switch === 'japanese'" class="custom-element">
        <div class="value">{{ item?.kanji || item?.word }}</div>
        <div class="pronunciation">{{ item.pronunciation.join(', ') }}</div>
      </div>
      <div *ngIf="switch === 'meaning'" class="custom-element">
        <div class="meaning">{{ item.meaning.join(', ') }}</div>
      </div>
    </div>
  </div>
</div>
