.container{
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: rgba(32,33,36,255);
  overflow-x: hidden;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.6em;
  color: white;
  text-align: center;
  padding-bottom: 5px;
}

form{
  min-width: 400px;
  margin-top: 25px;
  background-color: #3c4042;
  padding: 15px 60px;
  border-radius: 15px;
}

label{
  font-size: 1.6em;
  font-style: italic;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group{
  /* display: block; */
  margin: 28px 0px;
}

.form-control{
  font-size: 1.5em;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #919295;
  padding: 3px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 100%;
  height: 36px;
}

input::placeholder{
  color: rgb(86, 86, 86);
}

.error{
  font-size: 1.4em;
  font-family: Arial;
  color: red;
  position: absolute;
  letter-spacing: 0.5px;
}

.submit, .reset{
  font-size: 1.8em;
  padding: 4px 9px;
  border: 1px solid transparent;
  margin-top: 5px;
  border-radius: 5px;
}

.submit{
  background-color: #00bfff;
  color: black;
}

.reset{
  float: right;
  background-color: #ea80fc;
  color: black;
}

.submit:hover{
  background-color: #0a7beb;
  color: white;
  cursor: pointer;
}

.reset:hover{
  background-color: #b64fc8;
  color: white;
  cursor: pointer;
}

.form-group .file-input{
  color: #989898;
}

.form-group span{
  font-size: 1.4em;
  font-family: Arial;
  color: #989898;
}
