<button class="back" (click)="back()">
  <img src="assets/images/back-btn.png">
</button>

<div class="wrapper">
  <a routerLink="submit">Click here to submit a new annotation</a>
  <div class="main-div">
    <div class="btns-div">
      <button type="menu" (click)="toggle('sentence')" [class.active]="toggleType === 'sentence'">Sentences</button>
      <button type="menu" (click)="toggle('word')" [class.active]="toggleType === 'word'">Words</button>
      <button type="menu" (click)="toggle('kanji')" [class.active]="toggleType === 'kanji'">Kanji</button>
      <button type="menu" (click)="toggle('misc')" [class.active]="toggleType === 'misc'">Misc</button>
    </div>

    <div class="content-div" *ngIf="toggleType === 'sentence'">

    </div>

    <div class="content-div" *ngIf="toggleType === 'word'">

    </div>

    <div class="content-div" *ngIf="toggleType === 'kanji'">

    </div>

    <div class="content-div" *ngIf="toggleType === 'misc'">

    </div>

  </div>
</div>

