<div class="nav">
  <input type="checkbox" id="nav-check" (change)="onNavCheckClick()">
  <div class="nav-header">
    <!-- <div class="nav-title">
      <img src="/assets/logo2.png">
    </div> -->
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a href="/hiragana">Hiragana</a>
    <a href="/katakana">Katakana</a>
    <a href="/kanji">Kanji</a>
    <a href="/words">Words</a>
    <a href="/login">Login</a>
  </div>
</div>
