<div class="nav">
  <input type="checkbox" id="nav-check" (change)="onNavCheckClick()">

  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a (click)="goToHome()">
      <fa-icon [icon]="faHouse"></fa-icon>
      Home
    </a>
    <a (click)="goToPlay()">
      <fa-icon [icon]="faPlay"></fa-icon>
      Play
    </a>
    <a (click)="goToKanji()">
      <fa-icon [icon]="faMagicWandSparkles"></fa-icon>
      Kanji
    </a>
    <a (click)="goToWords()">
      <fa-icon [icon]="faA"></fa-icon>
      Words
    </a>
    @if(!loggedIn) {
      <a (click)="goToLogin()" class="cyan">
        <fa-icon [icon]="faKey"></fa-icon>
        Login
      </a>
    } @else {
      <a (click)="logout()" class="red">
        <fa-icon [icon]="faSignOut"></fa-icon>
        Logout
      </a>
    }
  </div>
</div>
