<div class="nav">
  <input type="checkbox" id="nav-check" (change)="onNavCheckClick()">
  <!-- <div class="nav-header">
    <div class="nav-title">

    </div>
  </div> -->
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a (click)="goToHome()">Home</a>
    <a (click)="goToHiragana()">Hiragana</a>
    <a (click)="goToKatakana()">Katakana</a>
    <a (click)="goToKanji()">Kanji</a>
    <a (click)="goToWords()">Words</a>
    <a (click)="goToLogin()">Login</a>
  </div>
</div>
