.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  gap: 15px;
}

.title {
  font-size: 2.6em;
  margin-bottom: 15px;
  font-weight: 500;
}

.form {
  width: 500px;
  background-color: white;
  padding: 20px 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-size: 1.8em;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 4px;
}

.form-control {
  font-size: 1.8em;
  border: 1px solid #202124;
  border-radius: 4px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.form-control::placeholder {
  color: rgb(146, 146, 146);
}

.error {
  font-size: 1.4em;
  font-family: Arial;
  color: red;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 4px;
}

.btns-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.submit-btn, .reset-btn {
  color: #202124;
  font-size: 1.8em;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  align-self: end;
  width: auto;
  height: auto;
  padding: 6px 12px;
}

.submit-btn:hover, .reset-btn:hover {
  cursor: pointer;
  background-color: #0005;
  border-radius: 4px;
}

.btn-remove, .btn-add {
  background-color: transparent;
  color: black;
  font-size: 1.8em;
  padding: 4px 9px;
  border: 1px solid black;
  border-radius: 4px;
  height: 33px;
}

.btn-remove:hover {
  cursor: pointer;
  color: red;
}

.btn-add:hover {
  cursor: pointer;
  color: green;
}

.btn-remove:disabled {
  color: grey;
  cursor: not-allowed;
}

.input-btn-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.return-a {
  font-size: 1.4em;
  font-family: Arial;
  color: white;
  letter-spacing: 0.5px;
  margin-top: 4px;
  margin-bottom: 2px;
  text-decoration: solid underline;
}

.return-a:hover {
  color: #00bfff;
  cursor: pointer;
}

.success-general, .error-general {
  font-size: 1.6em;
  font-family: Arial;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.success-general {
  color: green;
}

.error-general {
  color: red;
}

@media screen and (max-width: 560px) {
  .form {
    width: 100%;
    padding: 20px 20px;
  }
}
