<div class="container">
  <div class="filter-div">
    <form (ngSubmit)="filter()">
      <mat-select [(ngModel)]="filterType" name="select" (change)="resetPrevious()">
        <mat-option [value]="pageType" selected>{{ pageType == 'kanji' ? 'Kanji' : 'Word' }}</mat-option>
        <mat-option value="pronunciation">Pronunciation</mat-option>
        <mat-option value="meaning">Meaning</mat-option>
      </mat-select>

      @if (filterDic[filterType]) {
      <input type="text" class="input-search" name="input-search" [formControl]="filterDic[filterType]"
        autocomplete="off" placeholder="Search...">
      }
      <button class="submit-btn" type="submit" (click)="markAsTouched()">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        <span class="device-only">Search</span>
      </button>
      <button class="reset-btn" type="button" (click)="resetFilters()">
        <fa-icon [icon]="faRotateLeft"></fa-icon>
        <span class="device-only">Reset</span>
      </button>
    </form>

    @if (filterKanji.dirty && filterKanji.invalid) {
    <div class="error-div">
      @if (filterKanji.hasError('required')) {
      <span class="error">Kanji can't be empty *</span>
      }
      @if (filterKanji.hasError('pattern')) {
      <span class="error">Input is not a kanji *</span>
      }
      @if (filterKanji.hasError('maxlength')) {
      <span class="error">Single kanjis only *</span>
      }
    </div>
    }
    @if (filterWord.dirty && filterWord.invalid) {
    <div class="error-div">
      @if (filterWord.hasError('required')) {
      <span class="error">Word can't be empty *</span>
      }
      @if (filterWord.hasError('pattern')) {
      <span class="error">Input is not in japanese *</span>
      }
      @if (filterWord.hasError('maxlength')) {
      <span class="error">Word is too long *</span>
      }
    </div>
    }
    @if (filterPronunciation.dirty && filterPronunciation.invalid) {
    <div class="error-div">
      @if (filterPronunciation.hasError('required')) {
      <span class="error">Pronunciation can't be empty *</span>
      }
      @if (filterPronunciation.hasError('pattern')) {
      <span class="error">Pronunciation must be in hiragana/katakana
        *</span>
      }
      @if (filterPronunciation.hasError('maxlength')) {
      <span class="error">Pronunciation is too long *</span>
      }
    </div>
    }
    @if (filterMeaning.dirty && filterMeaning.invalid) {
    <div class="error-div">
      @if (filterMeaning.hasError('required')) {
      <span class="error">Meaning can't be empty *</span>
      }
      @if (filterMeaning.hasError('maxlength')) {
      <span class="error">Meaning is too long *</span>
      }
    </div>
    }
  </div>
</div>
