@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html, body {
  max-width: 100%;
}

.back {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 90px;
  height: 90px;
  top: 30px;
  left: 30px;
}

.back img {
  width: 100%;
}

.back img:hover {
  cursor: pointer;
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
}

.panel-class {
  width: 90vw;
  max-width: 650px;
  height: auto;
  min-height: 300px;
}

@media (max-width: 700px) {
  .back {
    display: none;
  }
}
