<form [formGroup]="form" class="edit-mode" (ngSubmit)="update()">
  <h1 class="title" id="title"> Edit {{ data.type }} </h1>
  <div class="form-group">
    <label class="subtitle" [for]="type">{{ (type === 'kanji') ? 'Kanji' : 'Word' }}:</label><br />
    <input type="text" [formControlName]="type" class="form-control" [id]="type">
    @if (type === 'kanji') {
    <div>
      @if (form.controls['kanji'].dirty && form.hasError('required', 'kanji')) {
      <p class="error" id="kanji-required-error">This field is required *</p>
      }
      @if (form.controls['kanji'].dirty && form.hasError('pattern', 'kanji')) {
      <p class="error" id="kanji-pattern-error">This field must be a kanji *</p>
      }
      @if (form.controls['kanji'].dirty && form.hasError('maxlength', 'kanji')) {
      <p class="error" id="kanji-length-error">Single kanjis only *</p>
      }
    </div>
    }
    @if (type === 'word') {
    <div>
      @if (form.controls['word'].dirty && form.hasError('required', 'word')) {
      <p class="error" id="word-required-error">This field is required *</p>
      }
      @if (form.controls['word'].dirty && form.hasError('pattern', 'word')) {
      <p class="error" id="word-pattern-error">
        This field must be in japanese *</p>
      }
      @if (form.controls['word'].dirty && form.hasError('maxlength', 'word')) {
      <p class="error" id="word-length-error">
        Word is too long *</p>
      }
    </div>
    }
  </div>

  <div class="form-group">
    <label class="subtitle" for="meaning">Meaning:</label><br />
    <div formArrayName="meaning">
      @for (meaningControl of meaningFormArray.controls; track meaningControl; let i = $index) {
      <div>
        <div class="input-btn-div">
          <input type="text" class="form-control" [formControlName]="i" [id]="'meaning' + i" placeholder="e.g. Day">
          <button type="button" class="btn btn-remove" [id]="'meaning-remove' + i"
            (click)="removeArrayEl(meaningFormArray, i)" [disabled]="meaningFormArray.controls.length <= 1">
            <fa-icon [icon]="faX" size="sm"></fa-icon>
          </button>
        </div>
        @if (meaningControl.invalid && meaningControl.dirty) {
        <div>
          @if (meaningControl.errors?.['required']) {
          <p class="error" [id]="'meaning-required-error' + i">Meaning is
            required *</p>
          }
          @if (meaningControl.errors?.['maxlength']) {
          <p class="error" [id]="'meaning-length-error' + i">Meaning is too
            long *</p>
          }
        </div>
        }
      </div>
      }
      <button type="button" class="btn btn-add" id="meaning-add" (click)="addArrayEl(meaningFormArray)">
        Add
      </button>
    </div>
  </div>

  <div class="form-group">
    <label class="subtitle" for="pronunciation">Pronunciation:</label><br />
    <div formArrayName="pronunciation">
      @for (pronunciationControl of pronunciationFormArray.controls; track pronunciationControl; let i = $index) {
      <div>
        @if (pronunciation[i].isNew === false) {
        <div class="pronunciation-non-editable">
          <p>{{ pronunciationControl.value }}</p>
          <button type="button" class="btn btn-remove" [id]="'pronunciation-remove' + i"
            (click)="removeArrayEl(pronunciationFormArray, i)" [disabled]="pronunciationFormArray.controls.length <= 1">
            <fa-icon [icon]="faX" size="sm"></fa-icon>
          </button>
        </div>
        } @else {
          <div class="input-btn-div">
            <input type="text" class="form-control" [formControlName]="i" [id]="'pronunciation' + i"
              placeholder="e.g. にち">
            <button type="button" class="btn btn-remove" [id]="'pronunciation-remove' + i"
              (click)="removeArrayEl(pronunciationFormArray, i)" [disabled]="pronunciationFormArray.controls.length <= 1">
              <fa-icon [icon]="faX" size="sm"></fa-icon>
            </button>
          </div>
        }
        @if (pronunciationControl.invalid && pronunciationControl.dirty) {
        <div>
          @if (pronunciationControl.errors?.['required']) {
          <p class="error" [id]="'pronunciation-required-error' + i">
            Pronunciation is required *</p>
          }
          @if (pronunciationControl.errors?.['maxlength']) {
          <p class="error" [id]="'pronunciation-length-error' + i">
            Pronunciation is too long *</p>
          }
          @if (pronunciationControl.errors?.['pattern']) {
          <p class="error" [id]="'pronunciation-pattern-error' + i">
            Must be in hiragana / katakana *</p>
          }
        </div>
        }
      </div>
      }
      <button type="button" class="btn btn-add" id="pronunciation-add"
        (click)="addArrayEl(pronunciationFormArray, true, true)">
        Add
      </button>
    </div>
  </div>

  <div class="form-group">
    <label class="subtitle" for="notes">Notes:</label><br />
    <input type="text" formControlName="notes" class="form-control" id="notes" placeholder="Enter notes...">
  </div>

  <div class="btns-div">
    <button type="button" class="cancel-btn" id="cancel" (click)="cancel()" [disabled]="status === 'loading'">
      <fa-icon [icon]="faBackward" size="xl"></fa-icon>Cancel
    </button>

    <button type="button" class="delete-btn" id="delete" (click)="delete()" [disabled]="status === 'loading'">
      <fa-icon [icon]="faTrash" size="xl"></fa-icon>Delete
    </button>

    <button type="submit" class="submit-btn" id="submit" (click)="markFormGroupTouched()"
      [disabled]="status === 'loading'">
      <fa-icon [icon]="faSave" size="xl"></fa-icon>Save
    </button>
  </div>

  @if (status === 'error') {
  <p class="error error-general" id="error-general">{{ errorInfo }}</p>
  }
</form>
