<div class="dialog">
  <!-- Close button -->
  <button class="close" (click)="closeDialog()">
    <fa-icon [icon]="faX" size="xl"></fa-icon>
  </button>

  <!-- Details mode -->
  @if (!editToggle) {
  <div class="detail-mode">
    <p class="main-value">{{ data.item[data.type.toLowerCase()] }}</p>
    <p class="pronunciation-container">
      <!-- Pronuncations: -->
      @for (pr of data.item.pronunciation; track pr; let i = $index) {
      <span class="pronunciation">
        {{ pr }}
      </span>
      }
    </p>
    <p class="meaning-container">
      @for (mean of data.item.meaning; track mean; let i = $index) {
      <span class="meaning">
        {{ mean }}{{ i == data.item.meaning.length - 1 ? '' : ', ' }}
      </span>
      }
    </p>
    @if (data.item?.notes?.trim()) {
    <p class="notes">{{ data.item.notes.trim() }} </p>
    }
  </div>
  }

  <!-- Edit mode  -->
  @if (editToggle) {
  <div>
    <app-edit-form [data]="data" (toggle)="toggleBack($event)"></app-edit-form>
  </div>
  } @else {
    <!-- Edit button toggle -->
    <button type="button" class="toggle-btn" (click)="editToggle = true">
      <fa-icon [icon]="faEdit" size="xl"></fa-icon>Edit
    </button>
  }
</div>
