<div class="container">
  <h2>Katakana Chart</h2>
  <section class="section_basic">
    <div class="chart">
      @for (groups of katakanas; track groups) {
      <div class="chart-kanas">
        @for (katakana of groups; track katakana) {
        <div [ngClass]="(katakana.kana === '') ? 'empty' : ''">
          <span>{{ katakana.kana }}</span>
          <span>{{ katakana.latin }}</span>
        </div>
        }
      </div>
      }
    </div>
  </section>

  <section class="section_dakuten">
    <div class="handakuten">
      <h3>Handakuten</h3>
      <div class="chart">
        <div class="chart-kanas">
          @for (katakana of handakuten; track katakana) {
          <div>
            <span>{{ katakana.kana }}</span>
            <span>{{ katakana.latin }}</span>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="dakuten">
      <h3>Dakuten</h3>
      <div class="chart">
        @for (groups of dakuten; track groups) {
        <div class="chart-kanas">
          @for (katakana of groups; track katakana) {
          <div>
            <span>{{ katakana.kana }}</span>
            <span>{{ katakana.latin }}</span>
          </div>
          }
        </div>
        }
      </div>
    </div>
  </section>

  <section class="section_combinations">
    <h3>Combinations</h3>
    <div class="chart">
      @for (groups of combinations; track groups) {
      <div class="chart-kanas">
        @for (katakana of groups; track katakana) {
        <div>
          <span>{{ katakana.kana }}</span>
          <span>{{ katakana.latin }}</span>
        </div>
        }
      </div>
      }
    </div>
  </section>
</div>
