@if (status === 'loading') {
<div class="container">
  <app-spinner></app-spinner>
</div>
}

@if (status === 'menu') {
<div class="container">
  <h1 class="title">Guess</h1>
  <div class="tutorial">
    <p class="label">How to play:</p>
    <p class="description">You will have to write the meaning or japanese form of the element asked.</p>
  </div>
  <div class="select-length">
    <p class="label">Game length:</p>
    <select [(ngModel)]="gameLength">
      <option value="5">Short (5)</option>
      <option selected value="10">Standard (10)</option>
      <option value="15">Long (15)</option>
      <option value="20">Very Long (20)</option>
    </select>
  </div>
  <button class="play-btn" (click)="startGame()">
    <fa-icon [icon]="faPlay" size="1x"></fa-icon>
    Start
  </button>
</div>
}

@if (status === 'playing') {
<div class="container">
  <h1 class="title">Guess:</h1>
  <p class="guess-element">{{ currentItem.guessMode === 'japanese' ? currentItem.meaning : (currentItem.kanji ||
    currentItem.word) }}</p>
  @if (hint) {
  <p class="hint-element">{{ currentItem.pronunciation }}</p>
  }
  <div class="guess-input">
    <input type="text" [(ngModel)]="userInput"
      [placeholder]="currentItem.guessMode === 'meaning' ? 'Meaning...' : translate() + '...'">
    <button (click)="checkAnswer()" [disabled]="userInput.trim().length === 0">Check</button>
    <button class="hint" (click)="hint = true">
      <fa-icon [icon]="faLightbulb" size="1x"></fa-icon>
      Hint
    </button>
  </div>
</div>
}

@if (status === 'finished') {
<div class="container">
  <h1 class="title">Finished!</h1>
  <p class="score">Score: {{ score }}/{{ items.length }}</p>
  <button class="play-btn" (click)="playAgain()">Play again</button>
</div>
}

@if (status === 'success') {
<div class="container">
  <h1 class="correct-title">Correct!</h1>
  <p class="guess-element">{{ currentItem.guessMode === 'japanese' ? currentItem.meaning : (currentItem.kanji ||
    currentItem.word) }}</p>
  <p class="correct-answer">{{ currentItem.guessMode === 'meaning' ? currentItem.meaning : (currentItem.kanji ||
    currentItem.word) }}</p>
  <button class="continue" (click)="continue()">Continue</button>
</div>
}

@if (status === 'fail') {
<div class="container">
  <h1 class="wrong-title">Wrong!</h1>
  <p class="guess-element">{{ currentItem.guessMode === 'japanese' ? currentItem.meaning : (currentItem.kanji ||
    currentItem.word) }}</p>
  <p class="wrong-answer">Your answer: {{ userInput.trim() }}</p>
  <p class="correct-answer">Correct answer: {{ currentItem.guessMode === 'japanese' ? currentItem.kanji ||
    currentItem.word : currentItem.meaning }}</p>
  <button class="continue" (click)="continue()">Continue</button>
</div>
}
