.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: calc(100vh - 60px);
  background-color: rgba(32, 33, 36, 255);
}

.title {
  font-family: 'Inter';
  font-size: 4em;
  font-weight: 400;
  color: #fff;
}

.tutorial {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #3c4042;
  border-radius: 5px;
  padding: 10px 20px;
  max-width: 480px;
}

.label, .description {
  font-family: 'Inter';
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

.description {
  font-size: 1.4em;
}

.select-length {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.select-length select {
  font-family: 'Inter';
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-align: left;
  color: #fff;
  background-color: #212121;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.select-length select:focus {
  outline: none;
}

.select-length select option:hover {
  background-color: #fff;
  color: #212121;
}

.select-length select option:checked {
  background-color: #fff;
  color: #212121;
}

.play-btn, .guess-input button {
  font-size: 2.6em;
  font-family: 'Inter';
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #212121;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.play-btn:hover, .guess-input button:hover {
  background-color: #fff;
  color: #212121;
  cursor: pointer;
}

.guess-element {
  font-family: 'Inter';
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
}

.guess-input {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.guess-input input {
  font-family: 'Inter';
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: 0.5px;
  height: 38px;
  text-align: left;
  color: #fff;
  background-color: #212121;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

.guess-input input:focus {
  outline: none;
}

.guess-input button {
  padding: 5px 10px;
  font-size: 2em;
}

.guess-input button:disabled {
  background-color: #3c4042;
  color: #fff;
  cursor: not-allowed;
}

.correct-title, .wrong-title {
  font-family: 'Inter';
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: green;
}

.wrong-title {
  color: red;
}

.correct-answer, .wrong-answer {
  font-family: 'Inter';
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
}

.wrong-answer {
  color: grey;
}

.score {
  font-family: 'Inter';
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
}

.continue {
  font-family: 'Inter';
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #212121;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.continue:hover {
  background-color: #fff;
  color: #212121;
  cursor: pointer;
}

.hint fa-icon {
  color: yellow;
}

.hint-element {
  font-family: 'Inter';
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .guess-input {
    flex-direction: column;
    gap: 16px;
  }
}
